{% extends 'shared/base.html' %}

{% block content %}
    <div class="container">
        <div class="col-9">

           {% include 'common/pet-posts.html' with editable=True %}

                <!-- Start Add Comments Section -->
                <div class="addComments">

                    <!-- Start Add Comments Form -->
                    <form method="post" action="#">
                        <label for="id_body">Body:</label>
                        <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                  required="" id="id_body"></textarea>
                        <!-- Post Comments Button -->
                        <button type="submit">Post</button>
                    </form>
                    <!-- End Add Comments Form -->

                </div>
                <!-- End Add Comments Section -->

            </div>
            <!-- End Pet Photo Post Section -->

{% endblock %}